*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: #525252;
    padding: 10px;
    /* border: 10px solid white; */
    /* overflow: hidden; */
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: #fff  ;
    margin:80px auto 20px;
    padding:  40px 30px 50px;
    border-radius: 10px;
}

.todo-app> h2{
    margin-bottom: 20px;
    text-align: center;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row input{
    flex: 1;
    border: none;
    /* border-radius: 30px; */
    outline: none;
    background-color: transparent;
    padding: 10px;
}

.row button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #525252;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
}

#list-container > li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

#list-container > li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('images/unchecked.png');
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 8px;
    transform: translateY(-50%); 
}

#list-container >  li.checked{
    color: grey;
    text-decoration: line-through;
}

#list-container >  li.checked::before{
    background-image: url('images/checked.png');
}

ul li span{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border-radius: 50%;
    text-align: center;
    color: black;
}

ul li span:hover{
    background-color: rgb(198, 198, 198);
}